*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f4f6;
}

.container{
  display: flex;
  min-height: 100vh;
}

/*sidebar*/

.sidebar{
  width: 200px;
  background-color: #3b82f6;
  padding: 20px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.sidebar h2{
  margin-bottom: 20px;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
}

.sidebar ul{
  list-style: none;
}

.sidebar ul li{
  padding: 10px;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

.sidebar ul li:hover,
.sidebar ul .active
{
  background-color: #93c5fd;
  font-weight: bold;
}

/*main content*/

.main-content{
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

header h2{
  font-size: 18px;
}
/* dashboard section*/
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.card{
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  background-color: #93c5fd;
}

.card:hover{
  transform: translate(-5px);
}

.card h3{
  margin-bottom: 10px;
}

.card small{
  opacity: 0.9;
}

.chart-container{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 20px 8px rgba(0,0,0,0.1);
}

/*class section*/
/*.hidden{
  display: none;
}*/

section{
  margin-top: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #dcdbdb;
}

/*form*/
form{
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

form input{
  padding: 10px;
  flex: 1;
  border: 1px solid;
  border-radius: 5px;
}

form button{
  padding: 10px;
  border: none;
  background-color: #3b82f6;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

form button:hover{
  background-color: #1d4ed8;
}

/*search*/
input[type="text"]{
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/*List items*/
ul{
  list-style: none;
  padding:0;
}

form ul li{
  background-color: #f9f9f9;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form ul li span{
  flex: 1;
}

form ul li button{
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
}

form ul li button.edit{
  background-color: #92400e ;
}

form ul li button.delete{
  background-color: #92400e;
}

