<section class="header">
  <nav>
    <a href="index.html"><img src="../../../public/images/logo.png" alt="Logo"></a>
    <div class="nav-links">
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="">About</a></li>
        <li><a routerLink="">Contact</a></li>
        <li><a routerLink="/signup">Signup</a></li>
      </ul>
    </div>
  </nav>

  <div class="text-box">
    <h1>Inspiring Minds, Transforming Lives</h1>
    <a href="" class= "hero-btn">Visit us to know more</a>
  </div>
</section>
<router-outlet></router-outlet>

