<section class="header">
  <nav>
    <a routerLink="/" class="logo">Learn<span>App</span></a>
    <div class="nav-links">
      <ul>
        <li><a routerLink="/app-home-page">Home</a></li>
        <li><a routerLink="/app-about">About</a></li>
        <li><a routerLink="/app-contact">Contact</a></li>
        <li><a routerLink="/signup" class="btn-signup">Signup</a></li>
      </ul>
    </div>
  </nav>

  <div class="text-box">
    <h1>Inspiring Minds, Transforming Lives</h1>
    <p>Accédez à une éducation de qualité où que vous soyez.</p>
    <a routerLink="/about" class="hero-btn">Discover LearnApp</a>
  </div>
</section>
