.contact-section {
  background: #fff;
  padding: 80px 0;
  text-align: center;
}

form {
  max-width: 600px;
  margin: auto;
}

input, textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
}

.red-btn {
  background: #4e54c8;
  color: #fff;
  border: none;
  width: 100%;
}