* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 5px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
    min-height: 100vh;
}

.up {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

h2 {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: rgb(190, 206, 11);
    border: 5px none;
    border-radius: 3px;
    box-shadow: 3px 4px 8px 3px gray;
}

#searchbar {
    width: 70%;
}

#add-course {
    width: 150px;
    padding: 12px;
    background-color: #ff416c;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#add-course:hover {
    background-color: #c9264c;
}

.course-displayer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
}

.course-container{
    display: inline-block;
    padding: 5px;
    background-color: antiquewhite;
    border-radius: 8px;
    margin-bottom: 5px;
}

.course {
    width: 350px;
    height: 260px;
    background-color: aqua;
    margin-bottom: 5px;
}

.delete {
    display: grid;
    justify-self: center;
    width: 150px;
    padding: 12px;
    background-color: #ff416c;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
}

.delete:hover {
    background-color: #c9264c;
}